
{{ template "kubee-header" .}}

> [!NOTE]
> Traefik does publish now a CRDS Chart.
> This chart has become obsolete.

This {{ template "kubee-crds-chart-label" "Crds Chart" }} installs the Traefik CRDs. 


## Dev

See [contrib](contrib.md)

