
{{ template "kubee-header" .}}

This {{ template "kubee-crds-chart-label" "kubee crds chart" }} installs the {{ template "kubee-chart-page-label" "grafana" }} CRDs.




## Dev/Contrib

See [Contrib](contrib.md)


