
{{ template "kubee-header" .}}

This {{ template "kubee-crds-chart-label" "kubee crds chart" }} installs the {{ template "kubee-chart-page-label" "kuberhealthy" }} CRDs.


## Features

We have added the annotation `helm.sh/resource-policy: keep`
to not delete the resources even if the chart is uninstalled.

## Dev/Contrib

See [Contrib](contrib/contrib.md)


