{{ template "kubee-header" .}}

This {{template "kubee-crds-chart-label" "crds chart" }} installs the CRDs of cert-manager.

It's a dependency of the [kubee cert manager chart](../cert-manager/README.md)

## Features

### Resource-policy: keep

We add a `helm.sh/resource-policy: keep` to avoid any bad deletion.


## Contrib / Dev

See [contrib](contrib/contrib.md)






