
{{ template "kubee-header" .}}


`Whoami` is a {{ template "kubee-app-chart-label" "Kubee App Chart"}} that installs an `app` that permits to debug and test traefik.
It will print the HTTP request.

## Features

{{ template "kubee-chart-features-section" .}}

{{ template "chart.valuesSection" . }}

## Contrib / Dev

See [contrib](contrib/contrib.md)


