
{{ template "kubee-header" .}}

A {{ template "kubee-app-chart-label" "Kubee App Chart"}} that [installs Vault](https://developer.hashicorp.com/vault/docs/platform/k8s)
in a standalone mode.

{{ template "kubee-installation-instruction" . }}


## Features

{{ template "kubee-chart-features-section" .}}

{{ template "chart.valuesSection" . }}
| vault | object | | The [vault values](https://github.com/hashicorp/vault-helm/blob/v{{ .AppVersion }}/values.yaml) |



