
{{ template "kubee-header" .}}

This {{ template "kubee-crds-chart-label" "kubee crds chart"}} installs the CRDs of [trust manager](https://cert-manager.io/docs/trust/trust-manager/)

It's a dependency of the [Kubee Cert Manager Chart](../cert-manager/README.md)


## Contrib/Creation

For dev creation, see [cert-manager-crds contrib](../cert-manager-crds/contrib/contrib.md)