
#########################
# Cluster Connection and provisioning parameters
# Used in inventory.yml
#########################
# SSH connection
export KUBEE_CLUSTER_CONNECTION=ansible.builtin.ssh
# change me
export KUBEE_CLUSTER_API_SERVER_01_IP=78.46.190.60

###########################
# Values Environment variable
# used in values.yaml
# pass is used as default vault
###########################
export KUBEE_CERT_MANAGER_API_TOKEN
KUBEE_CERT_MANAGER_API_TOKEN=$(pass kube/cloudflare/cert-manager-api-token)

export KUBEE_GRAFANA_CLOUD_API_TOKEN=xxx
# KUBEE_GRAFANA_CLOUD_API_TOKEN=$(pass kube/grafana-cloud/api-token)

export KUBEE_CLUSTER_ADMIN_PASSWORD
KUBEE_CLUSTER_ADMIN_PASSWORD=$(pass kube/cluster/admin-password)

export KUBEE_EXTERNAL_SECRETS_VAULT_API_TOKEN
KUBEE_EXTERNAL_SECRETS_VAULT_API_TOKEN=$(pass kube/external-secrets/vault-token)

export KUBEE_CLUSTER_EMAIL_SMTP_PASSWORD
KUBEE_CLUSTER_EMAIL_SMTP_PASSWORD=$(pass kube/gmail/smtp-password)

export KUBEE_ARGOCD_GITHUB_TOKEN
KUBEE_ARGOCD_GITHUB_TOKEN=$(pass kube/github/argocd-token)

export KUBEE_ARGOCD_WEBHOOK_SECRET
KUBEE_ARGOCD_WEBHOOK_SECRET=$(pass kube/github/argocd-webhook-secret)
