
export KUBE_X_CERT_MANAGER_API_TOKEN
KUBE_X_CERT_MANAGER_API_TOKEN=$(pass kube/cloudflare/cert-manager-api-token)

export KUBE_X_GRAFANA_CLOUD_API_TOKEN=xxx
# KUBE_X_GRAFANA_CLOUD_API_TOKEN=$(pass kube/grafana-cloud/api-token)

export KUBE_X_CLUSTER_ADMIN_PASSWORD
KUBE_X_CLUSTER_ADMIN_PASSWORD=$(pass kube/cluster/admin-password)

export KUBE_X_EXTERNAL_SECRETS_VAULT_API_TOKEN
KUBE_X_EXTERNAL_SECRETS_VAULT_API_TOKEN=$(pass kube/external-secrets/vault-token)
