
{{ template "kubee-header" .}}

This {{ template "kubee-crds-chart-label" "kubee crds chart" }} installs the {{ template "kubee-chart-page-label" "prometheus" }}
{{ template "kubee-crds-chart-label" "CRDs"}}.




This chart is automatically installed when the {{ template "kubee-chart-page-label" "prometheus" }} chart is installed


## CRDs List

CRDs and their respective link to the documentation:
* [alertmanagerconfigs.monitoring.coreos.com](https://prometheus-operator.dev/docs/developer/alerting/#using-alertmanagerconfig-resources) - Alert manager config creation
* [alertmanagers.monitoring.coreos.com](https://prometheus-operator.dev/docs/platform/platform-guide/#deploying-alertmanager) - Alert manager instance creation
* [podmonitors.monitoring.coreos.com](https://prometheus-operator.dev/docs/developer/getting-started/#using-podmonitors) - Prometheus scrape config for pods
* [probes.monitoring.coreos.com](https://prometheus-operator.dev/docs/getting-started/design/?#probe) - Probe definition for black box exporter
* [prometheuses.monitoring.coreos.com](https://prometheus-operator.dev/docs/platform/platform-guide/#deploying-prometheus) - Prometheus instance creation
* [prometheusagents.monitoring.coreos.com](https://prometheus-operator.dev/docs/platform/prometheus-agent/) - Prometheus agent instance creation
* [prometheusRules.monitoring.coreos.com](https://prometheus-operator.dev/docs/developer/alerting/#deploying-prometheus-rules) - Prometheus alerting and recording Rules definition
* [scrapeconfig.monitoring.coreos.com](https://prometheus-operator.dev/docs/developer/scrapeconfig/) - Prometheus Scrape Config for external kubernetes target
* [servicemonitor.monitoring.coreos.com](https://prometheus-operator.dev/docs/developer/getting-started/#using-servicemonitors) - Prometheus Scrape Config for service
* [thanosruler.monitoring.coreos.com](https://prometheus-operator.dev/docs/platform/thanos/) - [Thanos Ruler](https://prometheus-operator.dev/docs/platform/thanos/#thanos-ruler)

See also:
* the design page: [Design](https://prometheus-operator.dev/docs/getting-started/design/)
* the API for fields definitions: https://prometheus-operator.dev/docs/api-reference/api/


### Dev / Contrib

[contrib](contrib.md)



