
#########################
# Cluster Connection and provisioning parameters
# Used in inventory.yml
#########################
# SSH connection
export KUBE_X_CLUSTER_CONNECTION=ansible.builtin.ssh
# change me
export KUBE_X_CLUSTER_API_SERVER_01_IP=78.46.190.60

###########################
# Values Environment variable
# used in values.yaml
# pass is used as default vault
###########################
export KUBE_X_CERT_MANAGER_API_TOKEN
KUBE_X_CERT_MANAGER_API_TOKEN=$(pass kube/cloudflare/cert-manager-api-token)

export KUBE_X_GRAFANA_CLOUD_API_TOKEN=xxx
# KUBE_X_GRAFANA_CLOUD_API_TOKEN=$(pass kube/grafana-cloud/api-token)

export KUBE_X_CLUSTER_ADMIN_PASSWORD
KUBE_X_CLUSTER_ADMIN_PASSWORD=$(pass kube/cluster/admin-password)

export KUBE_X_EXTERNAL_SECRETS_VAULT_API_TOKEN
KUBE_X_EXTERNAL_SECRETS_VAULT_API_TOKEN=$(pass kube/external-secrets/vault-token)

export KUBE_X_CLUSTER_EMAIL_SMTP_PASSWORD
KUBE_X_CLUSTER_EMAIL_SMTP_PASSWORD=$(pass kube/gmail/smtp-password)

export KUBE_X_ARGOCD_GITHUB_TOKEN
KUBE_X_ARGOCD_GITHUB_TOKEN=$(pass kube/github/argocd-token)

export KUBE_X_ARGOCD_WEBHOOK_SECRET
KUBE_X_ARGOCD_WEBHOOK_SECRET=$(pass kube/github/argocd-webhook-secret)
