{{ template "kubee-header" .}}

> [!WARNING]
> [Incorporated to kubernetes-monitoring](../../charts/kubernetes-monitoring/README.md)


This {{ template "kubee-chart-label" "kubee chart" }} installs:
* Node exporter (prometheus exporter that gather OS system metrics.)
* and the Node mixins (alert and dashboard)




