{{ template "kubee-header" .}}

This {{ template "kubee-jsonnet-chart-label" "jsonnet kubee chart" }} installs and configures
[prometheus adapter](https://github.com/kubernetes-sigs/prometheus-adapter)


