
{{ template "kubee-header" .}}

This {{ template "kubee-app-chart-label" "Kubee App Chart"}} installs the `Git service` [Gogs](https://gogs.io/)

`WIP: Not finished`


## Features



{{ template "kubee-chart-features-section" . }}


{{ template "kubee-installation-instruction" . }}


{{ template "chart.valuesSection" . }}

## Dev/Contrib

See [Contrib](contrib.md)


