
{{ template "kubee-header" .}}

This {{ template "kubee-crds-chart-label" "kubee crds chart" }} installs the `Git service` [Gogs](https://gogs.io/)

`WIP: Not finished`


## Features



{{ template "kubee-chart-features-section" . }}


{{ template "kubee-installation-instruction" . }}


{{ template "chart.valuesSection" . }}

## Dev/Contrib

See [Contrib](contrib.md)


